*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6D67D0 url("../../assets/images/background_blur.jpg") no-repeat center/cover;
}