.container {
  display: flex;
  flex-direction: column;
  width: 277px;
  height: 244px;
  background: #6d67d0;
  border-radius: 10px;
  text-align: center;
  padding: 35px 16px 16px;
}

.title {
  color: #dad8f7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.content{
  flex-direction: column;
  margin-top: 32px;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: auto;
}