#temperature-now {
  display: flex;
flex-direction: column;
  position: relative;
  width: 480px;
  height: 480px;
  background: #6d67d0 url("../../../assets/images/background.jpg") no-repeat
    bottom center/cover;
  border-radius: 10px;
  color: #ffffff;
  filter: brightness(0.9) contrast(1.1) saturate(1);
}

.nowHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 150px;
  height: 112px;
  padding-right: 32px;
}

.nowHeader img {
  width: 176px;
  position: absolute;
  left: -56px;
  top: -56px;
}

.location {
  display: flex;
  color: #DAD8F7;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  gap: 8.33px;
}

main {
  display: flex;
  justify-content: center;
  position: relative;
}

main p {
  font-weight: 700;
  font-size: 88px;
  line-height: 106px;
  color: #ffffff;
}

main p span {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #DAD8F7;
  position: absolute;
  top: 20px;
}

main .weatherInfo{
  width: fit-content;
  text-align: center;
}

main div span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

span.tMax {
  color: #ffffff;
}

span.tMin {
  color: #c2bff4;
}

.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 12px 12px;
  margin-top: auto;
}
